<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recordatorio</title>
    <link href="../css/popup.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/i18n.js"></script>
    <script src="../js/moment.js"></script>
    <script src="../js/vue.js"></script>
    <style>
        .time{
            width:6em !important;
        }
    </style>
</head>
<body>
    <template id="cronometro">
        <div class="form-inline">
            <input  type="button" 
                    class="btn btn-primario" 
                    @click="borrarhijo()"
                    value='-'>
            <div v-if="!contador.contar" class="form-group">
                <input  type="text" 
                        class="form-control time" 
                        v-model="contador.hora">
                <input  type="button" 
                        class="btn btn-primario" 
                        @click="temporizador()"
                        value="Comenzar">
            </div>
            <div v-else="!contador.contar" class="form-group">
                <div class="form-control time">{{contador.hora}}</div>
                <input  type="button" 
                        class="btn btn-primario" 
                        @click="contador.contar=false"
                        value="Detener">
            </div>
        </div>
    </template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h4>Agregar  <small>Personas</small></h4>
                <form class="form-inline" @submit.prevent>
                    <select class="form-control" v-model="contador_new.tipo">
                        <option value="+">Cronometro</option>
                        <option value="-">Temporizador</option>
                    </select>
                    <input type="submit" class="btn btn-primario" @click="agregar(contador_new)">
                </form>
                <cronometro :contador.sync='time' v-for='time in contador'></cronometro>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <pre>
                    {{ $data | json}}
                </pre>
            </div>
        </div>
    </div>
    <script src="../js/options.js"></script>
</body>
</html>